# loading copernicus pck not needed here, because it is installed directly in the .venv 
# for instant updates via command by these 2 steps in the terminal:
#        1. activate .venv by:
#              ./.venv/Scripts/activate
#        2. with .venv activated, install copernicus by: 
#              pip install -e ../general-copernicus-weather-data
#
# but reading from git should be possible via this line here:
#        copernicus @ git+https://github.com/BioDT/general-copernicus-weather-data.git@main
deims>=4.0
hda>=2.34
openpyxl>=3.1.2
pandas>=1.5.0
pygbif>=0.6.3
pyproj>=3.7.1
pytest>=8.3.3 
python-dotenv>=1.0.1
rasterio>=1.3.8
requests>=2.32.3