# loading copernicus pck not needed here, because it is installed directly in the .venv 
# for instant updates via command by these 2 steps in the terminal:
#        1. activate .venv by:
#              ./.venv/Scripts/activate
#        2. with .venv activated, install copernicus by: 
#              pip install -e ../general-copernicus-weather-data
#
# copernicus and soilgrids packages, to make them available on github actions
copernicus @ git+https://github.com/BioDT/general-copernicus-weather-data.git@main
soilgrids @ git+https://github.com/BioDT/general-soilgrids-soil-data.git@main

# other packages
deims>=4.0
geopandas>=1.1.1
hda>=2.34
pygbif>=0.6.3